// Colors 
$primary-color: #D98639;       
$background-dark: #1E1F27;   
$background-muted: #484747;         
$text-color: #FFFFFF;          
$text-muted: #B1B1B1;          
$card-bg: #5A5A5C;             
$input-bg: #696969CC; 

// Font 
$font-primary: 'Poppins', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;  
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Spacing 
$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Box-shadow 
$box-shadow-dark: 0px 4px 8px rgba(0, 0, 0, 0.3);

// Input 
$input-border-radius: 50px;

// Btn 
$btn-border-radius-xs: 5px;
$btn-border-radius-sm: 10px;
$btn-grey-bg: #8E8E93;

// Card 
$card-border-radius: 10px;

// Img
$img-border-radius-sm: 10px;