<div class="page-container">
    <app-navbar></app-navbar>

    <section class="page-padding section-lg-position">
        <p class="text-xl margin-bottom">Coming Soon</p>
        <div class="featured-card">
            <img  class="featured-card__image" [src]="data?.ComingSoonBanner" alt="movie-img">
            <span  class="featured-card__title text-lg">{{data?.ComingSoonTitle}}</span>
        </div>
    </section>

    <section class="category-tabs-container page-padding">
        <div class="category-tabs">
            <ng-container *ngFor="let category of data?.Categories">
                <div
                    class="category-tabs__tab"
                    [class.active]="category.CategoryID == activeCategoryId"
                    (click)="setActiveCategory(category.CategoryID)"
                >
                    {{ category.CategoryName }}
                </div>
            </ng-container>
        </div>
    </section>

    <section [ngClass]="{ 'last-section page-padding center-flex-column-items': activeCategoryMovies.length == 0 }">
        <ng-container *ngIf="activeCategoryMovies.length>0">
            <p class="text-xl margin-bottom page-padding text-lg-position">Now Showing</p>
            <swiper-container  
                #swiperEl 
                class="mySwiper" 
                effect="coverflow" 
                grab-cursor="true" 
                centered-slides="true"
                slides-per-view="10"
                space-between="1"
                coverflow-effect-rotate="50"
                coverflow-effect-depth="100"
                coverflow-effect-slide-shadows="false"
            >
                <swiper-slide *ngFor="let movie of activeCategoryMovies">
                    <div class="movie-card" (click)="selectMovie(movie)">
                        <img [src]="movie.FilmImage" [alt]="movie.FilmName">
                    </div>
                    <div class="movie-details">
                        <p class="text-normal font-medium">{{ movie.FilmName }}</p>
                        <div class="tags center-flex-row-items">
                        <span class="tags__tag" *ngFor="let tag of movie.Tags">{{ tag }}</span>
                        </div>
                    </div>
                </swiper-slide>
            </swiper-container>
        </ng-container>
        <ng-container *ngIf="activeCategoryMovies.length==0">
            <app-no-data-found [message]="'No movies found.'"></app-no-data-found>
        </ng-container>
    </section>
</div>