<div class="page-container page-padding">
    <div class="d-flex mt-50">
        <app-back-btn></app-back-btn>
        <span class="text-lg font-medium">Select Branch</span>
    </div>

    <div class="search-container">
        <img class="search-icon" src="../../../../assets/icons/Search_Magnifying_Glass.svg" alt="Search-icon">
        <input type="text" placeholder="Search Malls or Branch" [(ngModel)]="searchTerm" />
    </div>

    <ng-container *ngIf="(cinemaList | searchFilter:searchTerm)?.length; else noData">
        <div class="results center-flex-column-items mx-auto"> 
            <ng-container *ngFor="let cinema of cinemaList | searchFilter:searchTerm">
                <div class="results__item">
                    <app-card [item]="cinema"></app-card>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-template #noData>
        <app-no-data-found [message]="'No cinemas found near you.'"></app-no-data-found>
    </ng-template>
</div>