@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import './app/styles/variables';
@import './app/styles/typography';
@import './app/styles/mixins';

body {
    font-family: 'Poppins', sans-serif;
    background-color: $background-dark;
    color: $text-color;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}

.page-padding{
    padding: $spacing-md $spacing-xl ;
}

.last-section {
    flex-grow: 1;
}

.center-flex-column-items {
    @include flex-center(column);
}

.center-flex-row-items {
    @include flex-center(row);
}

.highlight-clickable-text{
    color: $primary-color;
    cursor: pointer;
}

.tags {
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 100%;

    &__tag {
        background-color: $background-muted; 
        font-size: clamp(0.8125rem, 3vw, 0.9375rem); ;
        font-weight: $font-weight-medium;
        padding: $spacing-xs;
        border-radius: $btn-border-radius-xs; 
        white-space: nowrap;
    }
}